:root {
  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-text: #ffffff;
  --section-bg-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* current page nav accent */
.main-nav .link.current {
  color: var(--accent-color);
}

/* section wraper */
.section {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

/* ---------- Header and Footer start ---------- */

/* logo */
.logo-nav {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-main {
  color: var(--accent-color);
}

/* Nav section */
.navigation {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav .link,
.contact-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.main-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* adress */

.address {
  background-color: var(--primary-text-color);
  font-style: normal;
}

.address .logo-address {
  color: var(--accent-color-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.address-links .link {
  color: var(--accent-color-text);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address-links .link.contact {
  color: rgba(255, 255, 255, 0.6);
}

/* --------------- Header and Footer end --------------- */

/* --------------- INDEX.HTML START --------------- */

/* hero */
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  padding-top: 200px;
}

.button {
  color: var(--section-bg-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: solid transparent;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
}

.hero {
  text-align: center;

  height: 600px;

  outline: auto;
}

/* skills section */
.wraper {
  margin-top: 94px;
  outline: auto;
}

.section .section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section .text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section .example-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}

/* team section */
.team-section {
  background-color: var(--section-bg-color);
}

.team-section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 1.7;
}

.team-section .headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-section .text-profession {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* --------------- INDEX.HTML END --------------- */

/* --------------- PORTFOLIO.HTML START --------------- */

/* h1 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* filter buttons */
.filter .radio {
  font-family: Roboto;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filter .radio:hover,
.filter .radio:focus {
  color: var(--accent-color-text);
  background-color: var(--accent-color);
}

/* projexts section */
.projects .project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects .project-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.projects .filter-item:focus {
  color: var(--accent-color);
}

/* --------------- PORTFOLIO.HTML END --------------- */
