:root {
  --primary-text-color: #000000;
  --navigation-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-text: #ffffff;
  --section-bg-color: #f5f4fa;
  --address-bg-color: #2f303a;
  --main-font-family: Roboto, sans-serif;
  --main-logo-font: Raleway, sans-serif;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: var(--main-font-family);
}

/* current page nav accent */
.main-nav .link.current {
  color: var(--accent-color);
}

/* section wraper */
.section {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ---------- Header and Footer start ---------- */

/* logo */
.logo-nav {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: var(--main-logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-main {
  color: var(--accent-color);
}

/* Nav section */
.contact-nav,
.main-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navigation {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav .link,
.contact-nav .link {
  text-decoration: none;
  color: var(--navigation-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.main-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* adress */

.address {
  background-color: var(--address-bg-color);
  font-style: normal;
}

.address .section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.address .logo-address {
  color: var(--accent-color-text);
  font-family: var(--main-logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-links {
  padding: 0px;
  list-style: none;
  margin-top: 0px;
}

.address-links .link {
  color: var(--accent-color-text);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.address-links .link.contact {
  color: rgba(255, 255, 255, 0.6);
}

/* --------------- Header and Footer end --------------- */

/* --------------- INDEX.HTML START --------------- */

/* hero */
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--accent-color-text);

  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  text-decoration: none;
  color: var(--accent-color-text);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  min-width: 200px;
  border: solid transparent;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 32px;
}

.hero {
  text-align: center;
  background-color: #2f303a;
}

/* skills company section */
.skills {
  padding: 0px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 94px;
}

.skills .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
}

.skills .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  margin: 0;
}

/* examples section */
.section .example-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;

  margin-top: 0;
  margin-bottom: 50px;
}

.section .example-images {
  padding: 0px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

/* team section */
.team-section {
  background-color: var(--section-bg-color);
}

.team-section .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 1.7;

  margin-top: 0;
  margin-bottom: 50px;
}

.team-section .team-cards {
  padding: 0px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.team-section .card {
  margin-bottom: 30px;
}

.team-section .headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-section .text-profession {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  margin: 0;
}

/* --------------- INDEX.HTML END --------------- */

/* --------------- PORTFOLIO.HTML START --------------- */

/* h1 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* filter buttons */
.filter .radio {
  font-family: var(--main-font-family);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filter .radio:hover,
.filter .radio:focus {
  color: var(--accent-color-text);
  background-color: var(--accent-color);
}

/* projexts section */
.projects .project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects .project-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.projects .filter-item:focus {
  color: var(--accent-color);
}

/* --------------- PORTFOLIO.HTML END --------------- */
